{% extends "base.html" %}
{% load static widget_tweaks %}
{% block title %}注文画面 | EC 管理サイト{% endblock %}

{% block content %}
<div class="my-5 container" style="max-width: 960px;">
    <main>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">あなたのカート</span>
                    <span class="badge bg-primary rounded-pill">{{ cart_count }}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for cart in cart_list %}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{ cart.item.title }}</h6>
                            <small class="text-body-secondary">数量: {{ cart.quantity }}</small>
                        </div>
                        <div>
                            <span class="text-body-secondary">{{ cart.item.price }}円</span>
                            <form action="{% url 'checkout:checkout_delete' cart.item.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">削除</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                    {% if applied_promotion_code %}
                    <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                        <div class="text-success">
                            <h6 class="my-0">プロモーションコード</h6>
                            <small>{{ applied_promotion_code }}</small>
                        </div>
                        <span class="text-success">−{{ applied_promotion_discount_price }}円</span>
                    </li>
                    {% endif %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>合計</span>
                        <strong>{{ cart_sum_price }}円</strong>
                    </li>
                </ul>
                <form class="card p-2" method="post">
                    <div class="input-group">
                        {% csrf_token %}
                        <input type="text" name="promotion_code" class="form-control" placeholder="プロモーションコード">
                        <button type="submit" name="apply_promotion_code" class="btn btn-secondary">適用</button>
                    </div>
                </form>
                {% if promotion_code_error %}
                <div class="alert alert-danger" role="alert">
                    {{ promotion_code_error }}
                </div>
                {% endif %}
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">請求先住所</h4>
                <form class="needs-validation" method="POST" novalidate>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="{{ form.lastname.id_for_label }}" class="form-label">
                                {{ form.lastname.label }}
                            </label>
                            {% if form.lastname.errors %}
                            {% render_field form.lastname class="form-control is-invalid" %}
                            {% else %}
                            {% render_field form.lastname class+="form-control" %}
                            {% endif %}

                            <div class="invalid-feedback">
                                {% for error in form.lastname.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="{{ form.firstname.id_for_label }}" class="form-label">
                                {{ form.firstname.label }}
                            </label>
                            {% if form.firstname.errors %}
                            {% render_field form.firstname class="form-control is-invalid" %}
                            {% else %}
                            {% render_field form.firstname class+="form-control" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.firstname.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="{{ form.username.id_for_label }}" class="form-label">
                                {{ form.username.label }}
                            </label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                {% if form.username.errors %}
                                {% render_field form.username class="form-control is-invalid" placeholder="ユーザー名" %}
                                {% else %}
                                {% render_field form.username class+="form-control" placeholder="ユーザー名" %}
                                {% endif %}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    {{ error }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="{{ form.username.id_for_label }}" class="form-label">
                                {{ form.email.label }}
                                <span class="text-body-secondary">(Optional)</span>
                            </label>
                            {% if form.email.errors %}
                            {% render_field form.email class="form-control is-invalid" placeholder="sample@mail.com" %}
                            {% else %}
                            {% render_field form.email class+="form-control" placeholder="sample@sample.com" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="{{ form.address1.id_for_label }}" class="form-label">
                                {{ form.address1.label }}
                            </label>
                            {% if form.address1.errors %}
                            {% render_field form.address1 class="form-control is-invalid" placeholder="番地、建物名、部屋番号" %}
                            {% else %}
                            {% render_field form.address1 class+="form-control" placeholder="番地、建物名、部屋番号" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.address1.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="{{ form.address2.id_for_label }}" class="form-label">
                                {{ form.address2.label }}
                                <span class="text-body-secondary">(Optional)</span>
                            </label>
                            {% if form.address2.errors %}
                            {% render_field form.address2 class="form-control is-invalid" placeholder="集合住宅名、ビル名、階数" %}
                            {% else %}
                            {% render_field form.address2 class+="form-control" placeholder="集合住宅名、ビル名、階数" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.address2.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="{{ form.address2.id_for_label }}" class="form-label">
                                {{ form.country.label }}
                            </label>
                            {% if form.country.errors %}
                            {% render_field form.country class="form-select is-invalid" %}
                            {% else %}
                            {% render_field form.country class+="form-select" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.country.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="{{ form.address2.id_for_label }}" class="form-label">
                                {{ form.state.label }}
                            </label>
                            {% if form.state.errors %}
                            {% render_field form.state class="form-select is-invalid" %}
                            {% else %}
                            {% render_field form.state class+="form-select" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.state.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="{{ form.zip.id_for_label }}" class="form-label">
                                {{ form.zip.label }}
                            </label>
                            {% if form.zip.errors %}
                            {% render_field form.zip class="form-control is-invalid" %}
                            {% else %}
                            {% render_field form.zip class+="form-control" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.zip.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <h4 class="mb-3">クレジットカード情報</h4>
                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label for="{{ form.card_name.id_for_label }}" class="form-label">
                                {{ form.card_name.label }}
                            </label>
                            {% if form.card_name.errors %}
                            {% render_field form.card_name class="form-control is-invalid" %}
                            {% else %}
                            {% render_field form.card_name class+="form-control" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.card_name.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.card_number.id_for_label }}" class="form-label">
                                {{ form.card_number.label }}
                            </label>
                            {% if form.card_number.errors %}
                            {% render_field form.card_number class="form-control is-invalid" %}
                            {% else %}
                            {% render_field form.card_number class+="form-control" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.card_number.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="{{ form.card_expiration.id_for_label }}" class="form-label">
                                {{ form.card_expiration.label }}
                            </label>
                            {% if form.card_expiration.errors %}
                            {% render_field form.card_expiration class="form-control is-invalid" %}
                            {% else %}
                            {% render_field form.card_expiration class+="form-control" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.card_expiration.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="{{ form.card_cvv.id_for_label }}" class="form-label">
                                {{ form.card_cvv.label }}
                            </label>
                            {% if form.card_cvv.errors %}
                            {% render_field form.card_cvv class="form-control is-invalid" %}
                            {% else %}
                            {% render_field form.card_cvv class+="form-control" %}
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.card_cvv.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    {% if applied_promotion_code %}
                    <input type="hidden" name="promotion_code" id="promotion_code" value="{{ applied_promotion_code }}">
                    {% endif %}
                    <button class="w-100 btn btn-primary btn-lg" type="submit">購入する</button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}